body {
    margin: 0px;
}

h2 {
    display: flex;
    justify-content: center;
}


h3 {
    color: rgb(25, 77, 190);
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 29px;
}

.cosito1 {
    display: flex;
    justify-content: left;

}

.cosito2 {
    display: flex;
    justify-content: right;
}

.cosito8 {
    padding: 90px;
    display: flex;
    justify-items: center;
    flex-direction: column;
    background: url("../img/fondo.jpg")no-repeat;
    background-position: center;
    background-size: cover;
}

header h3 {
    margin: 20px;
}

.menu {
    display: flex;
    justify-content: center;
    padding: 5px;
    font-size: 18px;
}

.menu span {
    color: #807d7d;
    margin: 2px;
    padding: 2px;
    
}

.menu a {
    color: rgb(107, 102, 102);
    text-decoration: none;
}

.menu a:hover {
    background-color: rgb(204, 204, 231);
}

.nose {
    display: flex;
    justify-content: center;
}

.formu {
    margin: 10px 15px;
    padding: 10px 35px;
    width: 45%;
    border: 2px solid #d6d6d6;
    backdrop-filter: blur(20px);
    background-color: #d4d4d4;
    border-radius: 7px;
}

.cosito3 {
    display: flex;
    justify-content: right;
}

input[type="text"] {
    width: 60%;
    padding: 15px;
    margin: 10px 10px;
    border: 1px solid #ccc;
    color: rgb(0, 0, 0);
    font-size: 15px;
}

input[type="reset"] {
    width: auto;
    background-color: rgb(148, 151, 148);
    margin: 10px 10px;
    padding: 15px;
    color: aliceblue;
    border-color: rgb(148, 151, 148);
}

input[type="submit"] {
    width: auto;
    background-color: rgb(13, 184, 28);
    margin: 10px 10px;
    padding: 15px;
    color: aliceblue;
    border-color: rgb(13, 184, 28);
}

img {
    margin: 30px;
    padding: 15px;
    background-color: #ffffff;
}

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(43, 43, 43);
}

.redes-sociales {
    display: flex;
    justify-content: center;
}

.redes-sociales a {
    color: #000; 
    font-size: 24px; 
    margin: 0 10px; 
}

.redes-sociales a:hover {
    color: #3b5998; 
}

.botonmenu {
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;

}
#check {
    display: none;
}
@media (max-width: 750px){
    .botonmenu {
        display: block;
    }
    .menu ul {
        position: fixed;
        width: 40%;
        height: 100vh;
        background: rgb(19, 25, 50);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    
    }
    .menu ul span {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    .menu ul span a {
        font-size: 20px;
    }
    #check:checked ~ ul {
        left: 0;
    }
}
